* {
  padding: 0;
  margin: 0;
}

.items {
  display: flex;

  list-style: none;
}
.item {
  color: black;
  font-size: 24px;
  text-decoration: none;
  padding: 15px;
  margin-right: 15px;
}

.nav-container {
  display: flex;
  margin: 0;
  width: 100%;
  padding: 18px;
  justify-content: space-around;
  background-color: #c5c2c2;
}
.logo {
  width: 300px;
}

.banner-container {
  width: 100%;
  padding: 18px;
  height: 100vh;
  background-image: url("image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.title-banner {
  font-size: 85px;
  font-weight: bold;
}
.title-color {
  color: #f52c2c;
}
.description {
  font-size: 22px;
  width: 50%;
  margin: auto;
  padding: 10px;
}
.btn {
  border: none;
  padding: 15px 35px;
  font-size: 18px;
  margin: 5px;
}
.btn-discover {
  background-color: red;
  color: white;
}
.service-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  color: white;
  padding: 18px;
}
.service-btn {
  color: gray;
  border-radius: 30px;
  margin-top: 70px;
}
.service-title {
  font-size: 40px;
  font-weight: bold;
  color: #becfd0;
}

.service-description {
  font-size: 20px;
  width: 50%;
  padding: 10px 10px 40px 5px;
  color: #becfd0;
}
.details-list {
  list-style: none;
  color: #becfd0;
  font-size: 19px;
}
.author-details {
  display: flex;
  align-items: center;
}
.author-img-desc {
  display: flex;
  align-items: center;
  padding: 15px 92px 15px 0px;
  border-right: 1px solid #f52c2c;
  height: 50px;
  margin-top: 37px;
  margin-right: 5px;
}
.author-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-right: 5px;
  margin-top: 15px;
}
.author-more {
  font-size: 14px;
  padding-top: 25px;
}
.btn-more {
  border: none;
  border-radius: 30px;
  font-size: 14px;
  color: #f52c2c;
  padding: 10px 25px;
  margin-top: 43px;
}
.service {
  padding: 50px;
  background-color: white;
  box-shadow: 4px 4px 8px gray;
  width: 200px;
  height: 200px;
  text-align: center;
  color: black;
  border-radius: 10px;
  margin: 5px;
}
.service-logo {
  width: 50%;
  padding-bottom: 10px;
}
.service-up {
  display: flex;
}
.service-down {
  display: flex;
}
.appoint-title {
  font-weight: 400px;
  font-size: 16px;
  padding-top: 45px;
  padding-bottom: 10px;
  border-right: 1px solid rgb(99, 88, 88);
  white-space: nowrap;
  padding-right: 9px;
}
.appoint-num {
  font-size: 35px;
  font-weight: bold;
}
.call-icon {
  width: 90px;
  height: 70px;
  padding-top: 45px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}
.phone-call {
  display: flex;
}
.appointment-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 150px;
  background-color: #f52c2c;
  padding: 10px;
  color: white;
  margin: auto;
  border-radius: 15px;
  margin-top: -50px;
}
.app-desc {
  padding-left: 8px;
  color: rgb(209, 202, 202);
  overflow: hidden;
  font-size: 15px;
}
.app-description {
  width: 75%;
}
.appoint-button {
  border-radius: 20px;
  color: #f52c2c;
  font-size: 14px;
  margin-bottom: 25px;
  border: 0;
  padding: 10px 55px;
}
/* blog and news section */
.blog-div {
  display: flex;
  gap: 55px;
  justify-items: center;
  justify-content: space-evenly;
  margin-left: 110px;
  margin-right: 20px;
}
.blog-img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
}
.blog-main-title {
  text-align: center;
  margin-top: 70px;
  font-size: 85px;
  font-weight: 900;
}
.blog-main-para {
  text-align: center;
  font-weight: 500px;
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 40px;
}
.blog-desc {
  background-color: #ffffff;
  height: 200px;
  width: 300px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.blog {
  width: 300px;
  height: 400px;
  border-left: 2px solid whitesmoke;
  margin-left: 50px;
  box-shadow: 5px 5px 8px gray;
  margin-bottom: 30px;
}
.blog-title {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 15px;
  color: rgb(102, 99, 99);
}
.blog-text {
  padding-left: 15px;
  color: rgb(29, 28, 28);
}
.footer {
  width: 100%;
  height: 60vh;
}
.footer-main {
  display: flex;
  margin-left: 190px;
  justify-items: center;
  flex-direction: row;
  gap: 55px;
  margin-top: 50px;
}
.footer-end {
  margin-top: 40px;
  text-align: center;
}
.footer-hr {
  width: 100%;
}
.footer-end-img {
  width: 20px;
  height: 15px;
  background-color: rgb(182, 189, 196);
  border: 0;
}
.footer-img {
  width: 30px;
  height: 25px;
  background-color: rgb(177, 171, 163);
  margin-left: 5px;
  margin-top: 15px;
  border: 0;
  border-radius: 14px;
  margin-left: 20px;
}
.footer-logo {
  width: 200px;
  margin-bottom: 5px;
  margin-right: 240px;
}
.footer-para {
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
}
.footer-items {
  list-style: none;
}
.footer-title {
  font-size: 20px;
  margin-bottom: 22px;
}
.footer-item {
  margin-bottom: 8px;
}
.footer-hr {
  color: gray;
  margin-bottom: 10px;
}
.footer-end-para {
  font-size: 16px;
  margin-top: 20px;
}
